@charset "utf-8";

input[type="text"], select {border:1px solid #c1c1c1;vertical-align:middle}
select {padding:2px 3px}

/* contain */
.contain_tip {width:100%;height:auto;font-size:12px;color:#555;margin:10px 0}
.con_table {width:100%;overflow:hidden;margin-top:20px}
table {width:100%;border-collapse:collapse}
.con_table th {background:#eaeaea;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;padding:10px 0;font-size:12px}
.con_table td {background:#fefefe;border-top:1px solid #ededed;border-bottom:1px solid #ededed;padding:6px 0;text-align:center}
.cash {font-size:12px;font-weight:bold}
.con_table_btn {float:right;margin:20px 10px 0 0;}
#submit_btn {background:#3986cd;background:-webkit-gradient(linear, left top, left bottom, from(#469ae6), to(#3986cd));background:-moz-linear-gradient(top, #469ae6, #3986cd); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#469ae6', endColorstr='#3986cd');color:#fff;border:solid 1px #4289c9;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;padding:8px 10px;cursor:pointer;font-family:'nanumgothic_Bold',sans-serif;letter-spacing:2px;font-size:12px}
#submit_btn:hover {background:#469ae6;background:-webkit-gradient(linear, left top, left bottom, from(#3986cd), to(#469ae6));background:-moz-linear-gradient(top, #3986cd, #469ae6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3986cd', endColorstr='#469ae6')}

/* radio_btn */
.gubun_rd {margin-right:5px;vertical-align:middle}
.gubun_rd01 {margin:0 5px 0 25px;vertical-align:middle}

/* width */
.w100 {width:100px;padding:2px 3px}
.w120 {width:120px;padding:2px 3px}
.w130 {width:120px;padding:2px 3px;margin-right:10px}

