@charset "utf-8";

input[type="text"], select {border:1px solid #c1c1c1}
select {padding:2px 3px;font-size:12px}

/* con01 */
.con01 {width:100%;height:auto;margin:0 auto}
.con01 table{margin-top:5px;width:100%}
.con01_title {width:8%;padding:8px 0;text-align:center;font-size:13px;background:#eaeaea;color:#555;border:1px solid #e0e0e0}
.con01_cons {width:78.5%;padding:8px 20px;border:1px solid #e0e0e0;font-size:12px}
.con1_cons_tip {margin-left:10px;font-size:11.5px;color:#e30c21;font-family:'nanum_gothic',sans-serif}
.click_btn {width:13%;padding:8px 0;border:1px solid #e0e0e0;text-align:center}
.c_btn_srh,.refresh {display:block;margin:0 auto}
.refresh {margin-top:10px}
.guchung {margin:0 20px 0 5px}
.w90 {width:90px;padding:2px 3px;vertical-align:middle}
.w200 {width:200px;padding:2px 3px;vertical-align:middle}
.mar {margin:0 20px 0 5px}
.m_right30 {margin-right:30px}
.m_left10 {margin-left:10px}

/* con02 */
.con02 {width:100%;height:auto;margin:30px auto 0}
.receive {width:100%;overflow:hidden}
.paging {font-size:12px;}
.data_num {margin:0 5px 0 10px}
.paging_search {margin-top:10px;font-size:12px;}
.ps_year {margin-right:5px}
.ps_month {margin:0 5px 0 15px}
.total_search {float:right;margin-right:10px;color:#e30c21}

/* receive_table */
.receive_table {margin-top:10px;width:100%;overflow:hidden}
.receive_table table {width:100%}
.receive_table th {background:#eaeaea;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;padding:10px 0;font-size:12px}
.receive_table td {background:#fefefe;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding-top:6px;padding-bottom:6px}

/* table 정렬 */
.ads_type img, .state img, .view img, .del img {vertical-align:middle}
.ads_type, .state, .view, .del,.choice,.receive_num,.check_date,.date {text-align:center}
.check_result,.pay_yn,.offeror,.corp_name,.locate {padding-left:10px}

/* table width */
.choice {width:4%}
.check_result, .pay_yn, .view, .del{width:5%}
.ads_type, .state {width:6%}
.date, .check_date {width:7.5%}
.receive_num, .offeror {width:9%}                              	
.corp_name {width:12%}
.locate {width:19%}

/* check_application */
.check_application {overflow:hidden;margin-top:20px}
.all_chk_app {font-size:12px;font-family:'nanumgothic_Bold',sans-serif;color:#555;margin-left:10px}
.all_chk_app img {vertical-align:2px;margin-right:5px}
.inspector {margin:0 5px;vertical-align:middle}
.chk_position {margin:0 5px;vertical-align:middle}
.chk_position1 {margin:0 20px 0 5px;vertical-align:middle}
.chk_outcome {margin:0 20px 0 5px}
.all_app {vertical-align:middle}
.chk_app_btn {text-align:right;margin:20px 20px 0 0}
.non_result {text-align:center; font-weight:bold;font-size:20px;color:#db1c1c}


/* submit_btn */
#submit_btn {background:#3986cd;background:-webkit-gradient(linear, left top, left bottom, from(#469ae6), to(#3986cd));background:-moz-linear-gradient(top, #469ae6, #3986cd); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#469ae6', endColorstr='#3986cd');color:#fff;border:solid 1px #4289c9;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;padding:8px 10px;cursor:pointer;font-family:'nanumgothic_Bold',sans-serif;letter-spacing:2px;font-size:12px}
#submit_btn:hover {background:#469ae6;background:-webkit-gradient(linear, left top, left bottom, from(#3986cd), to(#469ae6));background:-moz-linear-gradient(top, #3986cd, #469ae6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3986cd', endColorstr='#469ae6')}

/* 대형옥외물 리스트 테이블 위치*/
#viewChkContent{margin:20px 0 0 20px;line-height:35px;}
#viewChkContent td{border:1px solid #e8e8e8;padding-left:10px;}